body {
    font-family: monospace;
}

.grid-and-buttons {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 200px;
    margin-right: auto;
}

.buttons button {
    background-color: white;
    color: red;
    border: 2.5px red solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}

.buttons #color-picker {
    display: flex;
    align-items: center;
}

.buttons #color-picker input {
    margin-left: auto;
    width: 75%;
}

.slider {
    width: 60%;
    margin: 50px auto;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: rgb(200, 200, 200);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: red;
    overflow: visible;
    cursor: pointer;
}


.buttons #slider-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 250px;
    margin-left: auto;
}

.grid-square {
    /* Dynamically set using JS */
    /* width: 16px; */
    /* height: 16px; */
    /* max-width: 24px; */
    /* max-height: 24px; */
    border: 1px grey solid;
}